<div class="container py-4">
  <h2 class="text-primary text-center">📌 Available Posts</h2>

  <div *ngFor="let post of filteredPosts" class="card mb-3 shadow-sm">
    <div class="card-body">
      <h5 class="card-title">title : {{ post.title }}</h5>
      <p class="card-text">description : {{ post.content }}</p>
      <p class="card-text">
        <strong>Skills:</strong> {{ post.skills }}</p>
      <span class="badge bg-info">Status: {{ post.status }}</span>
      <br />
      <small class="text-muted">Posted on {{ post.createdAt | date: 'short' }}</small>
      <div class="mt-2">
        <button class="btn btn-primary" (click)="goToTestMonCV(post)">Submit</button>
      </div>
    </div>
  </div>
</div>
