<header>
  <div class="logo-section">
    <div class="logo">
      <a routerLink="/home">
        <img src="../../assets/1logo.png" alt="ESPRIT Logo" class="logo-img">
      </a>
    </div>
  </div>

  <nav>
    <!-- Show login button only when NOT logged in -->
    <button *ngIf="!isLoggedIn()" class="nav-button" routerLink="/log-in">Log in</button>

    <!-- SYSADMIN navigation -->
    <ng-container *ngIf="isLoggedIn() && isAdmin(); else notAdminNav">
      <div class="profile-dropdown"
           (mouseenter)="showMenu = true"
           (mouseleave)="showMenu = false">
        <button class="nav-button" type="button">{{ getUsername() }}</button>
        <ul class="dropdown-list" *ngIf="showMenu">
          <li>
            <a [routerLink]="['/profile', getUserId()]" (click)="showMenu = false">View Profile</a>
          </li>
          <li>
            <a (click)="logout(); showMenu = false">Log out</a>
          </li>
        </ul>
      </div>
      <button class="nav-button" routerLink="/gestion-managers">USERS MANAGEMENT</button>
      <button class="nav-button" routerLink="/statistics">statistics</button>
    </ng-container>

    <!-- Non-admin navigation -->
    <ng-template #notAdminNav>
      <!-- MANAGER navigation -->
      <ng-container *ngIf="isLoggedIn() && isManager(); else candidateNav">
        <div class="profile-dropdown"
             (mouseenter)="showMenu = true"
             (mouseleave)="showMenu = false">
          <button class="nav-button" type="button">{{ getUsername() }}</button>
          <ul class="dropdown-list" *ngIf="showMenu">
            <li>
              <a [routerLink]="['/manager-profile', getUserId()]" (click)="showMenu = false">View Profile</a>
            </li>
            <li>
              <a (click)="logout(); showMenu = false">Log out</a>
            </li>
          </ul>
        </div>
        <button class="nav-button" routerLink="/home">HOME</button>
        <button class="nav-button" routerLink="/showCVuser">Users Posted</button>
        <button class="nav-button" routerLink="/Mypost">My post</button>
      </ng-container>

      <!-- CANDIDATE navigation -->
      <ng-template #candidateNav>
        <div class="profile-dropdown"
             *ngIf="isLoggedIn()"
             (mouseenter)="showMenu = true"
             (mouseleave)="showMenu = false">
          <button class="nav-button" type="button">{{ getUsername() }}</button>
          <ul class="dropdown-list" *ngIf="showMenu">
            <li>
              <a [routerLink]="['/profile', getUserId()]" (click)="showMenu = false">View Profile</a>
            </li>
            <li>
              <a (click)="logout(); showMenu = false">Log out</a>
            </li>
          </ul>
        </div>
        <button *ngIf="isLoggedIn()" class="nav-button" routerLink="/home">HOME</button>
        <button *ngIf="isLoggedIn()" class="nav-button" routerLink="/nouveauter">NEW JOBS</button>
        <button *ngIf="isLoggedIn()" class="nav-button" routerLink="/test-mon-cv">CV score</button>
        <button *ngIf="isLoggedIn()" class="nav-button" routerLink="/chat-bot">Chat interview</button>
        <button *ngIf="isLoggedIn()" class="nav-button" routerLink="/about-nous">US</button>
      </ng-template>
    </ng-template>
  </nav>
</header>