<header>
  <div class="logo-section">
    <!-- Logo with routerLink to redirect to home -->
    <div class="logo">
      <a routerLink="/">
        <img src="../../assets/logo.png" alt="ESPRIT Logo" class="logo-img">
      </a>
    </div>
  </div>

  <nav>
    <button class="nav-button" routerLink="/log-in">Log in</button>
    <button class="nav-button" routerLink="/">HOME</button>
    <button class="nav-button" routerLink="/nouveauter">NOUVEAUTÉ</button>
    <button class="nav-button" routerLink="/test-mon-cv">TEST MON CV</button>
    <button class="nav-button" routerLink="/creation-cv">CRÉATION CV</button>
    <button class="nav-button" routerLink="/chat-bot">CHAT BOT</button>
    <button class="nav-button" routerLink="/about-nous">ABOUT NOUS</button>
   
  </nav>
</header>