<!-- Bulle flottante -->
<div class="chat-bubble-button" *ngIf="!isOpen" (click)="toggleChat()">
  💬
</div>

<!-- Fenêtre du chatbot -->
<div class="chatbot-container" *ngIf="isOpen">
  <div class="chatbot-header" (click)="toggleChat()">Assistant ✖</div>

  <div class="chatbot-body" #chatBody>
       <div *ngFor="let msg of messages" 
         [ngClass]="{ 'msg-left': msg.sender === 'Bot', 'msg-right': msg.sender === 'Vous' }" 
         class="chat-bubble">
      <div class="bubble-content">
        <strong>{{ msg.sender }}</strong>
        <div>{{ msg.text }}</div>
        <audio *ngIf="msg.audioUrl" [src]="msg.audioUrl" controls></audio>
      </div>
    </div>

    <div *ngIf="loading" class="loading-bubble msg-left">
      <span class="dot"></span><span class="dot"></span><span class="dot"></span>
    </div>
  </div>

  <div class="chatbot-input d-flex">
       <input [(ngModel)]="userInput" 
           (keydown.enter)="sendMessage()" 
           placeholder="Écrivez ici..." 
           class="form-control me-2" />
    <button (click)="sendMessage()" class="btn btn-primary">send</button>
  </div>
</div>
