<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4 text-primary fade-in">Bienvenue sur notre projet</h1>
    <p class="lead fade-in">Un projet développé par l'équipe 3ALINFO8 - Alternance Groupe 2</p>

    
</div>
   <!-- Notre équipe -->
   <div class="mt-4">
    <h2 class="text-secondary slide-in-left">Notre équipe</h2>
    <p class="slide-in-right">Nous sommes une équipe de 5 étudiants motivés et passionnés :</p>
    <ul class="list-group fade-in">
      <li class="list-group-item">Imed Chakhari</li>
      <li class="list-group-item">Nader Ben Hammouda</li>
      <li class="list-group-item">Aziz Bousslimi</li>
      <li class="list-group-item">Yasser Jemli</li>
      <li class="list-group-item">Sami Boukesra</li>
    </ul>
  </div>