/* Center the image */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full height of the viewport */
  width: 350vw; /* Full width of the viewport */
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Optional: Add a background color */
}

/* Image styling */
.logo-img {
  max-width: 100%; /* Adjust size as needed */
  max-height: 100%;
  object-fit: contain;
}

/* Animation for the image */
.animated-image {
  animation: bounce 2s infinite; /* Apply bounce animation */
  opacity: 1;
  transition: opacity 0.5s;
}

.animated-image:not(.fade-in) {
  opacity: 0;
}

